.containerTop{
    max-width: 100%;
    overflow-x: scroll;
    display: flex;
    padding: 20px 10px;
    padding-left: 30px;
    background-color: #eef5f8 ;
}
.avatarTop{
    border: 2px #E6E6E6 solid;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    background-color: white ;
}
.topPicks{
    display: flex;
    padding: 10px 30px;
    color: grey;
    background-color: white ;
    font-size: 14px;
}
.ribbon{
    margin-left: 13px;
    margin-top: -17px;
    z-index: 50;
    padding: 8px 6px;
    text-align: center;
    padding-right: 16px;
    color: white;
    font-size: 9px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/pidgin-ds.appspot.com/o/app_resources%2Fclasses_section%2Fribbon.png?alt=media&token=67c5165e-d019-4cd6-9403-a467a764fad3);
    padding-bottom: 10px;
}
.namePick{
    text-align: center;
    font-size: small;
    color: #043540;
    font-weight: 500;
    background-color: transparent;
}
@media only screen and (min-width:620px) {
	.responsive{
        display: none;
    }
  }
